.side_nav{
  background-color: rgb(1, 29, 58);
  width: 250px;
  height: 100vh;
  box-shadow: 5px 5px 5px black;
  float:left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;


  .face{
    width: 150px;
    height: 150px;
    position: relative;
    top:25px;
    left:50px;
  }

  .Links{
    width: 100%;
    animation-name: left_right;
    animation-duration: 0.75s;
    animation-timing-function: cubic-bezier(0,0,.2,1);


  .button_work{
    font-family: 'Quicksand', sans-serif;
    width: 80%;
    height: 100%;
    margin: 30px auto;
    background-color: rgb(1, 29, 58);
    font-size: 30px;
    font-weight: 700;
    color: rgb(43, 144, 255);
    border: none;
    cursor: pointer;
    line-height: 30px;
    text-align: center;
    text-decoration: none;

    hr{
      text-align: center; /* horizontal centering */
      align-items: center;
      align-content: center;
      line-height: 0px; /* vertical centering */
      height: 1px; /* gap between the lines */
      border-width: 2px 0 0 0; /* top and bottom borders */
      border-style: solid;
      border-color: rgb(43, 144, 255);
      font-size: 100;
      margin: 15px 30px 2px 30px; /* 20px space above/below, 10px left/right */
      overflow: visible;
    }
    hr:after{
      content: " ";
      /* Controls the whitespace around the symbol */
      display: inline;
      padding: 0 0.5em;
      font-weight: 100;
    }
    .home_icon:after{
      background: url("../../components/header/Buttons/Home_icon.svg")no-repeat center;
      background-size: contain;
      background-color: rgb(1, 29, 58);
    }
    .work_icon:after{
      background: url("../../components/header/Buttons/Work_icon.svg")no-repeat center;
      background-size: contain;
      background-color: rgb(1, 29, 58);
    }
    .about_icon:after{
      background: url("../../components/header/Buttons/About_icon.svg")no-repeat center;
      background-size: contain;
      background-color: rgb(1, 29, 58);
    }
    .contact_icon:after{
      background: url("../../components/header/Buttons/Contact_icon.svg")no-repeat center;
      background-size: contain;
      background-color: rgb(1, 29, 58);
    }

    span{
      font-size: 15px;
      color:#bfc6e0;
      text-decoration: none;
    }
  }
  .button_work:hover,
  .button_work:visited{
    text-decoration: none;
  }
  .button_work:focus {
    text-decoration: none;
  }
  li{
    text-decoration: none;
    width: 100%;
    list-style: none;
    display: flex;
    justify-content:space-around;
    flex-direction: column;
  }

  li:hover{
    .button_work{
      transition: color 0.5s ease;
      color:#ff7e00;
    }
    hr{
      transition: border-color 0.5s ease;
      border-color: #ff7e00;
    }
    .work_icon:after{
      transition: background-image 0.5s ease;
      background: url("../../components/header/Buttons/Work_icon_after.svg")no-repeat center;
      background-size: contain;
      background-color: rgb(1, 29, 58);
    }
    .about_icon:after{
      transition: background-image 0.5s ease;
      background: url("../../components/header/Buttons/About_icon_after.svg")no-repeat center;
      background-size: contain;
      background-color: rgb(1, 29, 58);
    }
    .home_icon:after{
      transition: background-image 0.5s ease;
      background: url("../../components/header/Buttons/Home_icon_after.svg")no-repeat center;
      background-size: contain;
      background-color: rgb(1, 29, 58);
    }
    .contact_icon:after{
      transition: background-image 0.5s ease;
      background: url("../../components/header/Buttons/Contact_icon_after.svg")no-repeat center;
      background-size: contain;
      background-color: rgb(1, 29, 58);
    }


    span{
      transition: color 0.5s ease;
      color:#ff7e00;
    }

  }

  }
  .icon_bar{
    align-self: center;
    width:80%;
    height: 100px;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    animation-name: top_bottom;
    animation-duration: 0.75s;
    animation-timing-function: cubic-bezier(0,0,.2,1);
    img{
      width:40px;
      height: 40px;

      box-shadow: 2px 2px 2px black;
      background-color: rgb(1, 29, 58);;
      border-radius: 99em;
    }
  }
}
