.first{
  font-family: 'Quicksand', sans-serif;
  height: 100vh;
  width: calc(100vw - 250px);
  float: left;
  overflow: hidden;
  .red{
    color:#ff7e00;
  }

  .container{
    background-image: url("../../components/pages/Home/Selfie2.jpg");
    background-position: 30%;
    background-size: cover;
    opacity: 0.7;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    width: 100%;
    height: 100%;
    .Name{
      font-size: 2.5em;
      width: 20%;
      min-width: 110px;
      text-shadow: 1px 1px grey;
      margin-top: 20vh;
      margin-left: 49%;
      animation-name: top_bottom;
      animation-duration: 0.75s;
      animation-timing-function: cubic-bezier(0,0,.2,1);

    }

    @keyframes top_bottom{
      from{transform: translate3d(0,-50px,0);}
      to{transform: translateZ(0);}
    }

    @keyframes right_left{
      from{transform: translate3d(50px,0,0);}
      to{transform: translateX(0);}
    }

    @keyframes left_right{
      from{transform: translate3d(-50px,0,0);}
      to{transform: translateX(0);}
    }
    @keyframes bottom_top{
      from{transform: translate3d(0,50px,0);}
      to{transform: translateY(0);}
    }

    .about{
      font-size: 2em;
      width: auto;
      margin-bottom: 3%;
      margin-left: 50%;
      animation-name: bottom_top;
      animation-duration: 0.75s;
      animation-timing-function: cubic-bezier(0,0,.2,1);
      //color: #b2b2b4;

    }

  }

}
