.tech_exp{
  margin: 2% 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  width: 90%;
  .tech_items{
    display: flex;
    justify-content: flex-start;
    flex-flow: row;
    width: 35%;
    max-width: 400px;
    line-height: 25px;


    .tech_img{
      width: auto;
      height: auto;
      flex-direction: column;
      text-align: center;
      animation-name: top_bottom;
      animation-duration: 0.5s;
      animation-timing-function: cubic-bezier(0,0,.2,1);

      p{
        width:100%;
        margin-right: 10px;
        font-size: 20px;
        font-weight: 700;
      }

    }
    li{
      animation-name: left_right;
      animation-duration: 0.5s;
      animation-timing-function: cubic-bezier(0,0,.2,1);
      border-left: 3px solid;
      padding: 2px 0px 2px 10px;
    }

  }
}
